<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <!-- Logger -->
  <logger name="jdbc" level="OFF"/>
  <logger name="jdbc.sqlonly" level="OFF"/>
  <logger name="jdbc.sqltiming" level="DEBUG"/>
  <logger name="jdbc.audit" level="OFF"/>
  <logger name="jdbc.resultset" level="OFF"/>
  <logger name="jdbc.resultsettable" level="OFF"/>
  <logger name="jdbc.connection" level="OFF"/>

  <!-- Root Logger -->
  <root level="INFO">
    <appender-ref ref="consoleAppender" />
  </root>

</configuration>